[submodule "server/3rd/ajson"]
	path = server/3rd/ajson
	url = https://github.com/lordoffox/ajson
[submodule "server/3rd/cpp-httplib"]
	path = server/3rd/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "server/3rd/stb"]
	path = server/3rd/stb
	url = https://github.com/nothings/stb
[submodule "server/3rd/libfacedetection"]
	path = server/3rd/libfacedetection
	url = https://github.com/ShiqiYu/libfacedetection
[submodule "server/3rd/SeetaFace2"]
	path = server/3rd/SeetaFace2
	url = https://github.com/seetafaceengine/SeetaFace2
